.main {
  transition: all 0.5s ease;
  .main_container {
    max-width: 1440px;
    margin: 0 auto;

    .main_content {
      width: 100%;
      display: flex;

      .country_section {
        padding-left: 75px;
        display: flex;
        flex-wrap: wrap;

        .country_Card {
          width: 264px;
          height: 336px;
          margin: 0px 75px 75px 0px;
          background-color: #ffffff;
          border-radius: 8px;
          box-shadow: 0px 20px 20px 40px #00000008;
          transition: all 0.5s ease;

          .imgBox {
            width: 264px;
            height: 160px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            overflow: hidden;
            box-shadow: 0px 40px 5px 0px #00000008;

            img {
              width: 264px;
              height: 160px;
              object-fit: cover;
            }
          }

          .info_box {
            .h2 {
              margin: 24px;
              font-family: 'Nunito Sans', sans-serif;
              font-size: 18px;
              font-weight: 800;
              line-height: 26px;
              text-align: left;
              color: #111517;
              transition: all 0.5s ease;

              &:hover {
                text-decoration: underline;
              }
            }
            .h2 {
              &.DarkMode {
                color: #ffffff;
              }
            }

            .country_info {
              margin: 16px 0px 0px 24px;

              p:not(:last-child) {
                margin-bottom: 8px;
              }
              p {
                font-family: 'Nunito Sans', sans-serif;
                font-size: 14px;
                font-weight: 600;
                line-height: 16px;
                text-align: left;

                span {
                  font-family: 'Nunito Sans', sans-serif;
                  font-size: 14px;
                  font-weight: 300;
                  line-height: 16px;
                  text-align: left;
                }
              }
            }
          }
        }
        .country_Card {
          &.DarkMode {
            background: #2b3844;
            box-shadow: 0px 0px 7px 2px #00000008;
            color: #ffffff;
          }
        }

        .buttons_continer {
          width: 100%;
          display: flex;
          justify-content: center;
          margin-bottom: 45px;

          .buttons_content {
            width: 500px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .button {
              cursor: pointer;
              width: 120px;
              // width: 100px;
              height: 56px;
              border: none;
              border-radius: 5px;
              box-shadow: 0px 4px 9px 0px #0000000e;
              background-color: transparent;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: all 0.5s ease;

              div {
                width: 12px;
                height: 12px;
                margin-right: 20px;

                .perv_arrow {
                  object-fit: contain;
                  width: 12px;
                  height: 12px;
                  transform: rotate(90deg);
                }
              }

              span {
                padding: 10px;
              }
              div {
                width: 12px;
                height: 12px;
                margin-left: 20px;
                display: flex;
                justify-content: center;
                align-items: center;

                .next_arrow {
                  object-fit: contain;

                  width: 12px;
                  height: 12px;
                  transform: rotate(-90deg);
                }
              }

              &:hover {
                opacity: 0.5;
              }
            }
            .button {
              &.DarkMode {
                background-color: #2b3844;
                color: #ffffff;
                box-shadow: 0px 2px 9px 0px #0000000e;
              }
            }
          }
        }
      }
    }
  }
}
.main {
  &.DarkMode {
    background-color: #202c36;
  }
}
